%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        Contract Platform Sp. z o.o.
        .row
        .fa.fa-envelope
        = mail_to 'buildacontract.com'
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Build a Contract', new_contract_path
%br 